html,
body {
  padding: 0;
  margin: 0;
  font-family: cubano, Ubuntu, Roboto, Oxygen,'Open Sans', 'Helvetica Neue', sans-serif !important
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
